@using MvcCodeFirst.Models
@using System.Web.Helpers
@model List<Kisiler>
@{
    ViewBag.Title = "Index";
}

<h2>WebGrid</h2>

<hr />


@{
    WebGrid grid = new WebGrid(
        source: Model,
        columnNames: new[] { "Ad", "Soyad", "Yas" },
        defaultSort: "Ad",
        rowsPerPage: 3,
        canPage: true,
        canSort: true,
        pageFieldName: "pageno",
        sortFieldName: "sort",
        ajaxUpdateContainerId: "Grid"
        );
}


<div class="row">
    @grid.GetHtml(tableStyle: "table table-striped table-dark",
    fillEmptyRows:false,
    mode:WebGridPagerModes.All,
    numericLinksCount:3,
    columns: grid.Columns
         (
        grid.Column("Ad", "Ad"),
        grid.Column("Soyad", "Soyad"),
        grid.Column("Yas", "Yaş"),
        grid.Column(format: (item) => Html.ActionLink("Düzenle", "Edit", "Grid",new { item.id }, new { id = "Duzenle"+item.id, @class = "glyphicon glyphicon-edit",style= "color:green" })),
        grid.Column(format: (item) => Html.ActionLink("Sil", "Delete", "Grid", new { item.id }, new { id = "Sil" + item.id, @class = "glyphicon glyphicon-remove", style = "color:red" }))
         ),
    htmlAttributes: new { id="Grid" },
    firstText:"[ilk]",
    lastText: "[son]",
    previousText: "[önceki]",
    nextText: "[sonraki]"
    )
</div>